<h1>Index view</h1>

<div class="main-container">
  <div class="cards">
    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/milan)">
      Milan
    </div>

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/tokyo)">
      Tokyo
    </div>

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/amsterdam)">
      Amsterdam
    </div>

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lyon)">
      Lyon
    </div>
  </div>

  <!-- <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoidHdpa2FoIiwiYSI6ImNrNmM1ZThjMjBsd2MzbXA5dWc4a2lscWIifQ.N-CkmI-NekYY0_eU_swklg'> -->
  <div id="map">

  </div>
</div>
