.upcoming-sessions {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 100px;
}

.upcoming-sessions {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 100px;
}
