 .container-cards-details.dashboard {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 25px 20px;
  width: 92%;
}

.dash-card {
  width: 300px;
  margin: 0 10px 20px;
}

.session-info.dash-info {
  padding-left: 20px;
}
a.float-right.dash-link {
  float: left !important;
}

