<h3>Dashboard</h3>

<div class="container-cards-details">
  <div class="cards-details">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcReK-PKsiDepwOj-RQX3j_8OkMsyVRMSjXhN5IJU4QXo7dwnhzP" />
    <div class="session-info">
      <h2>Mulan</h2>
      <p><strong>Date</strong></p>
      <p>Price</p>
    </div>
  </div>

  <div class="cards-details">
    <img src="https://m.media-amazon.com/images/M/MV5BMzQ3NTQxMjItODBjYi00YzUzLWE1NzQtZTBlY2Y2NjZlNzkyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg" />
    <div class="session-info">
      <h2>Mulan</h2>
      <p><strong>Date</strong></p>
      <p>Price</p>
    </div>
  </div>

  <div class="cards-details">
    <img src="https://m.media-amazon.com/images/M/MV5BMWU0MGYwZWQtMzcwYS00NWVhLTlkZTAtYWVjOTYwZTBhZTBiXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,674,1000_AL_.jpg" />
    <div class="session-info">
      <h2>Mulan</h2>
      <p><strong>Date</strong></p>
      <p>Price</p>
    </div>
  </div>

  <div class="cards-details">
    <img src="https://m.media-amazon.com/images/M/MV5BNDQ2YWVmZjEtMTE1ZS00MDk1LTg5ODUtMDVlODk0OTM2ODMwXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_SX675_AL_.jpg" />
    <div class="session-info">
      <h2>Mulan</h2>
      <p><strong>Date</strong></p>
      <p>Price</p>
    </div>
  </div>
</div>
