<h3>Dashboard</h3>

<% @past.each do |i| %>
  <p><%= i.movie %></p>
<% end %>
<br>
<% @upcoming.each do |i| %>
  <p><%= i.movie %></p>
<% end %>
<br><br>

<% @sessions.each do |i| %>
  <p><%= i.movie %></p>
<% end %>
