<div class="card-trip">
  <img src="<%= picture %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= movie_title %></h2>
      <p><%= movie_date %></p>
    </div>
    <h2 class="card-trip-pricing">£<%= price %></h2>
  </div>
</div>
