.booking-rules {
  font-family: Oswald, sans-serif;
  font-size: 16px;
}

.booking-rules-info {
  font-weight: lighter;
}

.session-booking-card {
  padding: 45px 15px;
}

.session-booking-card .form-actions {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
