.navbar-lewagon {
  padding-top: 0px;
  justify-content: space-between;
  background: clear;
}

.navbar-lewagon .navbar-brand {
  position: relative;
  justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  border-radius: 50%;
}
