.navbar-lewagon {
  padding-top: 0px;
  justify-content: space-between;
  background: clear;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  padding-top: 5px;
  height: 50px;
  border-radius: 50%;
}

.nav-item {
  padding: 5px 15px 0px 15px;
}

.nav-item:hover {
  cursor: pointer;
}

.btn-signin {
  color: #0A0A0A;
  padding: 0px 18px;
}

.btn-signin:hover {
  color: #505050;
  text-decoration: none;
}

.btn-signup {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  // font-weight: lighter;
  background: linear-gradient(#141414, #0A0A0A);
  transition: background 0.3s ease;
}

.btn-signup:hover {
  background: linear-gradient(#505050, #0A0A0A);
  color: white;
  text-decoration: none;
}
