.container-new-form {
  width: 500px;
  margin: 50px auto;
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
  padding-bottom: 50px;
}

.new-button {
  display: flex;
  flex-direction: row-reverse;
}
